{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>Title:
        <dd><input type="text" size="30" name="title">
        <dt>Text:
        <dd><textarea name="text" rows="5" cols="40"></textarea>
        <dd><input type="submit" value="Share">
      </dl>
    </form>
  {% endif %}
  <ul class="entries">
  {% for entry in entries %}
    <div><span style="text-decoration: underline">{{entry.service_id}}</span>
      <div>Start Date: {{entry.start_date}}</div>
      <div>Monday active?: {{entry.monday}}</div>
      <div>Tuesday active?: {{entry.tuesday}}</div>
      <div>Wednesday active?: {{entry.wednesday}}</div>
      <div>Thursday active?: {{entry.thursday}}</div>
      <div>Friday active?: {{entry.friday}}</div>
      <div>Saturday active: {{entry.saturday}}</div>
      <div>Sunday active: {{entry.sunday}}</div>
      <div>End Date: {{entry.end_date}}</div>
    </div>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  {{trips}}
  </ul>
{% endblock %}